*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

body {
  background: #0f2027; /* fallback for old browsers */
  background: linear-gradient(to right,#202122, #070707, #1a1c1d);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

div.center {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

.center-code {
    background-color: #fff;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.center-input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
